extends ../layouts/default

block variables
	- const title = "New Page";

block content
	//- include ../../blocks/pages/page-content/page-content.pug

block scripts
	script(src="./assets/js/pageB.js")
	script(src="./assets/js/vendor.js")
