extends views/layouts/default

block variables
	- const title = ""

block content
	include ./modules/header/_header.pug
	main

block scripts
	script(src="./assets/js/vendors.js")
	script(src="./assets/js/main.js")