extends views/layouts/default

block variables
	- const title = "PUG СБОРКА"

block content
	.main-body
		include ./modules/header/_header.pug
		.main-content main-content
		footer footer

block scripts
	script(src="./js/vendors.js")
	script(src="./js/main.js")
